.nav-top-fon{
	background: #F6F8FB;
}
.nav-top{
	height: 41px;
	line-height: 41px;
	margin: auto;
}
.wrap{
	margin: auto;
	width: 80%;
}
.nav-top ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
a{
	text-decoration: none;
}
.nav-top a{
	font-family: Roboto;
	font-size: 14px;
	color: #A1AFBF;
}
.nav-top img{
	vertical-align: middle;
	margin-right: 4px;
}
.nav-fon{
	background: #FFFFFF;
}
.nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #FFFFFF;
	height: 70px;
	line-height: 70px;
}
nav{
	width: 50%;
}
.nav a{
	font-family: Roboto;
	font-size: 17px;
	color: #434343;
}
.nav a:hover{
	color: #F92E4B;
}

nav ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.nav img{
	vertical-align: middle;
	margin-right: 4px;
}
main{
	
}
.baner{
	height: 378px;
	background: #E9EFF4;
}	
.baner-title{
	font-family: Roboto;
	font-weight: bold;
	font-size: 36px;
	padding: 70px 0 20px 0;
}
.baner-content{
	font-family: Roboto;
	font-size: 17px;
	color: #292929;
}
.baner-btn{
	background: #F03550;
	border-radius: 3px ;
	border:1px solid #ccc;
	height: 47px;
	line-height: 47px;
	width: 194px;
	font-size: 18px;
	font-family: Roboto;
	margin-top: 30px;
	text-align: center;
}
.baner-btn a{
	color: #FFFFFF;
}
.icon-block{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.icon{
	background: #FFFFFF;
	box-shadow: 0px 10px 34px rgba(175, 196, 208, 0.35);
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 20px;
	width: 15%;
	height: 158px;
}
.icon:hover{
	box-shadow: 0px 5px 15px rgba(175, 196, 208, 0.35);
}
.icon-text a{
	font-family: Roboto;
	font-size: 16px;
	color: #292929;
	margin:5px 5px;
}
.stock{
	background: #F03550;
	box-shadow: 0px 10px 34px rgba(175, 196, 208, 0.35);
	border-radius: 3px;
	width: 35%;
	height: 158px;
	font-family: Roboto;
	font-size: 20px;
	color: #FFFFFF;
	margin-top: 20px;
}
.stock p{
	margin: 20px;
}
h1{
	font-family: Roboto;
	font-weight: bold;
	font-size: 32px;
	color: #607286;
	margin-bottom: 30px;
}
.wrap-hosting{
	margin-top: 80px;
}
.best-hosting h1{
	font-family: Roboto;
	font-size: 32px;
	color: #607286;
	margin: 70px 0 40px;
}
.best-hosting-wrap{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.best-hosting-block{
	width: 30%;
	box-shadow: 0px 10px 35px rgba(175, 196, 208, 0.35);
	border-radius: 3px;
	margin-bottom: 40px;
}
.hosting-img{
	margin-top: 40px;
	margin-left: 40px;
}
.hosting-content-tittle{
	font-family: Roboto;
	font-weight: bold;
	font-size: 20px;
	color: #292929;
	margin: 50px 40px 10px;
}
.hosting-content-text{
	font-family: Roboto;
	font-size: 17px;
	color: #292929;
	margin-left: 40px;
}
.hosting-price{
	font-family: Roboto;
	font-weight: bold;
	font-size: 30px;
	color: #292929;
	margin-top: 40px;
	margin-left: 40px;
}
h2{
	font-family: Roboto;
	font-weight: bold;
	font-size: 32px;
	color: #607286;
}
.services-block{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 60px;
}
.text{
	font-family: Roboto;
	font-size: 18px;
	color: #292929;
	margin-top: 30px;
}
.services{
	width: 48%;
	height: 235px;
}
.services-image{
	border:1px solid #000;
}
.client-wrap{
	background: #F6F8FB;
	margin-top:80px;
}
.client-block{
	padding-top: 50px;
}
.client-icon-wrap{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.client-icon{
	margin:20px;
	filter: grayscale(100%);
}
.client-icon:hover{
	filter: grayscale(0);
}
.certificates-competence-wrap{
	margin-top: 80px;
}
.certificates-block{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 30px;
}
.competence-block{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
}
.block-contekst{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.wrap-contekst{
	margin-top: 60px;
}
.contekst{
	width: 65%;
}
.contekst-image{
	width: 35%;
}
.form-block{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 40px;
}
.field{
	width: 25%;	
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.field-text{
	width: 75%;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.field label{
	display: block;
}
label{
	font-family: Roboto;
	font-weight: bold;
	font-size: 12px;
	color: #BAC5CD;
	text-transform: uppercase;
}

input, textarea{
	background: #FFFFFF;
	border: 1px solid #E9EFF4;
	border-radius: 5px;
	font-family: Roboto;
	font-size: 16px;
	color: #323C47;
}
.field input{
	width: 80%;
	height: 35px;
	margin-bottom: 10px;
}
.field input:last-child {
	margin-bottom: 0;
}
.field-text label {
	display: block;
}
.field-text textarea{
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #E9EFF4;
	border-radius: 5px;
	height: 100%;
}
.btn-block{
	text-align: center;
}
.btn{
	background: #F03550;
	border-radius: 3px;
	width: 194px;
	height: 47px;
	font-size: 18px;
	color: #FFFFFF;
	margin: 40px;
}
.footer-wrap{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 30px;
}
.information{
	width: 65%;
}
.footer-tittle{
	text-transform: uppercase;
	font-size: 14px;
	color: #FFFFFF;
	margin-bottom: 10px;
}
.information-wrap{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.footer-wrap a{
	font-family: Roboto;
	font-size: 14px;
	color: #FFFFFF;
}
.footer-wrap li{
	margin-top: 15px;
}
.footer-first{
	background: #21252B;
}
.contakt{
	width: 25%;
}
.footer-second{
	background: #282C32;
	height: 49px;
	line-height: 49px;
}
.resource{
	font-family: Roboto;
	font-size: 14px;
	color: #FFFFFF;
}

@media all and (min-width: 1025px) and (max-width: 1200px){
.nav-top a {
	font-size: 10px;
}
.icon{
	height: 125px;
}
.stock{
	height: 125px;
}
.best-hosting-block{
	height: 340px;
}
.hosting-content-tittle {
	font-size: 18px;
}
.hosting-content-text {
    font-size: 16px;
 }
.services {
    height: 235px;
}
.certificates img{
	height: 290px;
}
}
@media all and (min-width: 768px) and (max-width: 1024px){
.nav-top a {
	font-size: 10px;
}
.nav a{
	font-size: 12px;
}
nav{
	width: 55%;
}
.icon-block{
	flex-wrap: wrap;
}
.icon{
	width: 23%;
	margin-bottom: 20px;
}
.stock{
	margin: auto;
	width: 50%;
}
.best-hosting-wrap{
	flex-wrap: wrap;
}
.best-hosting-block{
	width: 45%;
}
 .text{
 	font-size: 14px;
 }

}
@media all and (min-width: 460px) and (max-width: 767px){

}
@media all and (min-width: 320px) and (max-width: 459px){

}
.server-baner{
	padding: 100px 0 90px 0;
}
.servers-tittle-text{
	font-family: Roboto;
	font-size: 42px;
	color: #FFFFFF;
}
.bitrix24-baner-wrap{
	background: url(image/baner.png);
	background-size: cover;
}
.server-baner-block{
	width: 50%;
}
.server-baner-text{
	font-size: 18px;
	color: #FFFFFF;
	font-family: Roboto;
	font-weight: bold;
	margin-bottom: 30px;
	margin: auto;
}
.server-services{
	margin-top: 50px;
}
.tittle-center{
	text-align: center;
	margin-top: 60px;
}
.server-tittle:after{
	content: "";
	display: block;
	height: 2px;
	width: 51px;
	background: #607286;
	margin: auto;
    margin-top: 14px;
}
.server-services-block{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 25%;
	margin:  0 15px;
}
.server-services-img{
	text-align: center;
	margin-top: 75px;
}
.server-services-content{
	font-size: 21px;
	font-family: Roboto;
	text-align: center;
	color: #222222;
	margin-top: 25px;
	padding: 0 50px;
}
.server-services-btn{
	text-align: center;
	border-radius: 3px;
	height: 24px;
	width: 60%;
	border: 0.5px solid #333333;
	margin:auto;
	margin-top: 25px;
	margin-bottom: 45px;
	padding: 10px;
}
.server-services-btn a{
	font-size: 18px;
	font-family: Roboto;
	color: #333333;
}
.server-services-block:hover{
	box-shadow: 0px 5px 15px rgba(175, 196, 208, 0.35);
}
.server-stage-block{
	width: 20%;
	margin-top: 70px;
}
.server-stage-img{
	text-align: center;
	position: relative;
}
.server-stage-img:after{
	content: url(image/Vector4.png);
	display:block;
	position: absolute;
	right: -20px;
    top: 30px;
}
.server-stage-block:last-child .server-stage-img:after{
	content: none;
}
.server-stage-tittle{
	font-family: Roboto;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #222222;
	margin: 50px 0 20px;
}
.server-stage-content{
	font-family: Roboto;
	font-size: 16px;
	text-align: center;
	color: #222222;
}
.server-stage-wrap{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.server-reviews-wrap{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.server-reviews-block{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 40%;
}
.reviews-img-wrap{
	display: flex;
	flex-direction: row;
}
.reviews-icon img{
	border-radius: 60px;
}
.reviews-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 20px;
}
.name{
	text-transform: uppercase;
}
.position{
	font-family: Roboto;
	font-size: 20px;
	color: #222222;
}
.server-reviews-content p{
	font-family: Roboto;
	font-size: 20px;
	color: #222222;
	margin: 15px 0;
}
.server-baner-wrap{
	background: url(image/0_index_inleed_copy.png);
	background-size: cover;
}
.server-seo-contentleft{
	margin-right: 80px;
}
.server-seo-content p{
	font-family: Roboto;
	font-size: 18px;
	color: #292929;
	margin: 15px 0;

}






@media all and (min-width: 1025px) and (max-width: 1200px){
.nav-top a {
	font-size: 10px;
}
.icon{
	height: 125px;
}
.stock{
	height: 125px;
}
.best-hosting-block{
	height: 340px;
}
.hosting-content-tittle {
	font-size: 18px;
}
.hosting-content-text {
    font-size: 16px;
 }
.services {
    height: 235px;
}
.certificates img{
	height: 290px;
}
}
@media all and (min-width: 768px) and (max-width: 1024px){
.nav-top a {
	font-size: 10px;
}
.nav a{
	font-size: 12px;
}
nav{
	width: 55%;
}
.icon-block{
	flex-wrap: wrap;
}
.icon{
	width: 23%;
	margin-bottom: 20px;
}
.stock{
	margin: auto;
	width: 50%;
}
.best-hosting-wrap{
	flex-wrap: wrap;
}
.best-hosting-block{
	width: 45%;
}
 .text{
 	font-size: 14px;
 }

}
@media all and (min-width: 460px) and (max-width: 767px){

}
@media all and (min-width: 320px) and (max-width: 459px){
.best-hosting-wrap{
	flex-wrap: wrap;
}
.best-hosting-block{
	width: 45%;
}
 .text{
 	font-size: 14px;
 }
}

.baner-resurs{
	display: flex;
	flex-direction: row;
}
.web-tittle-text{
	color: #292929;
}
.wrap-web{
	background: 
}
.web-baner-block{
	width: 49%;
}
.web-hosting-content{
	margin: 0px 7px 40px 0;
}
.web-hosting-tittle{
	text-align: center;
}
.web-hosting-tittle:after{
	content: "";
    display: block;
    height: 2px;
    width: 51px;
    background: #607286;
    margin: auto;
    margin-top: 14px;
}
.wrap-project{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.project-block{
	width: 60%;
}
.project-block img{
	width: 100%;
}
.project-block-wrap{
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.project-block-wrap img{
	width: 100%;
}
.project-block-second{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}